<h1>Using Importa:</h1>
   <h2>
     To import you Google Contacts:
   </h2>
   <h2>
     + Please specify the number of contacts you would
       like to display by entering a number in the Page Size field.
   </h2>
   <h2>
     + Then simply press the blue Import button
   </h2>
   <h2>
     + This will prompt you to verify yourself with your google account and you
       will be redirected back to our site where
   </h2>
   <h2>
     OUTPUT:
      <%=@num2%>
   </h2>
