<h1>Your Contacts</h1>
  
  <h2>
    <%for i in @response['connections']%>
      <h2>
        <%=i['names'][0]['displayName']%>:
            <%=i['emailAddresses'][0]['value']%>
      </h2>

    <%end%>
  </h2>
